<%= form_with(model: respostum) do |form| %>
  <% if respostum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(respostum.errors.count, "error") %> prohibited this respostum from being saved:</h2>

      <ul>
        <% respostum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :questionario_id, value: @questionario.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <% @questoes.each do |questao| %>
    <div class="question-container">
      <h3>Enunciado: <%= simple_format(questao.enunciado) %></h3>
      <h3><%= simple_format(questao.texto) %></h3>
      <%= fields_for "respostas[]", Respostum.new do |resposta_form| %>
        <div>
          <%= resposta_form.label :valor, "Resposta", style: "display: block" %>
          <%= resposta_form.text_area :valor %>
          <%= resposta_form.hidden_field :questao_id, value: questao.id %>
          <%= resposta_form.hidden_field :questionario_id, value: @questionario.id %>
          <%= resposta_form.hidden_field :user_id, value: current_user.id %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Enviar respostas" %>
  </div>
<% end %>
