<%= form_with(model: questionario) do |form| %>
  
  <% if questionario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(questionario.errors.count, "error") %> prohibited this questionario from being saved:</h2>

      <ul>
        <% questionario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
  <%= form.label :turma_id, "Turma", style: "display: block" %>
  <%= form.collection_select :turma_id, 
      Turma.includes(:materium).all, 
      :id, 
      ->(turma) { "#{turma.codigo} - #{turma.materium.nome}" }, 
      { prompt: "Selecione uma turma" }, 
      class: "form-select" 
  %>
</div>

  <%= form.hidden_field :template_id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit "Criar Questionário", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
