<% if questionario.nil? %>
  <div class="card">
      <h3 class="card__title"><%= title %></h3>
      <p class="card__content"><%= content %></p>
      <div class="card__professor"><%= professor %></div>
      <div class="card__materia"><%= materia %></div>
  </div>
<% else %>
  <%= link_to (current_user.role == "student" ? new_respostum_path(questionario_id: questionario.id) : 
              current_user.coordenador ? questionario_path(questionario) : 
              new_respostum_path(questionario_id: questionario.id)) do %>
      <div class="card">
          <h3 class="card__title"><%= title %></h3>
          <p class="card__content"><%= content %></p>
          <div class="card__professor"><%= professor %></div>
          <div class="card__materia"><%= materia %></div>
      </div>
  <% end %>
<% end %>