<!-- Lista de Templates Existentes -->
<div class="existing-templates mb-4">
  <h3>Templates Existentes</h3>
  <div class="custom-row">
    <% @templates.each do |template| %>
      <div class="custom-col">
        <div class="card" style="width: 12rem;">
          <div class="card-body">
            <h5 class="card-title"><%= template.nome %></h5>
            <p>Semestre: <%= template.semestre %></p>
            <p>Público Alvo: <%= template.publico_alvo %></p>
            <!-- Questions Section -->
            <div class="questions-section mt-3">
              <h6>Questões:</h6>
              <% template.questaos.each do |question| %>
                <div class="question-item border-left pl-3 mb-2">
                  <p><strong>Enunciado:</strong> <%= question.enunciado %></p>
                  <p><strong>Texto:</strong> <%= question.texto %></p>
                </div>
              <% end %>
            </div>
            
            <%= link_to "Criar Questionário", new_questionario_path(template_id: template.id), class: "btn btn-primary mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>