<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <!-- Aqui você pode incluir seus arquivos de CSS para aplicar os estilos (classes "form", "input", "button-confirm", etc.) -->
  </head>
  <body>
    <div class="form-container">
      <% if flash[:alert] %>
        <p style="color: red;"><%= flash[:alert] %></p>
      <% end %>

      <%= form_with url: login_path, method: :post, html: { class: "form" } do |form| %>
        <!-- Cabeçalho com título -->
        <div class="title">
          Welcome,<br>
          <span>sign up to continue</span>
        </div>

        <!-- Campo de matricula -->
        <%= form.text_field :matricula, placeholder: "matricula", class: "input", required: true %>

        <!-- Campo de senha -->
        <%= form.password_field :password, placeholder: "Password", class: "input", required: true %>

        <!-- Seção para escolher o tipo de usuário -->
        <div class="user-type" style="margin-top: 1rem;">
          <%= form.label :user_role, "Tipo de Usuário" %>
          <div>
            <%= form.radio_button :user_role, 'student', checked: true %>
            <%= form.label :user_type_regular, 'student' %>
            <br>
            <%= form.radio_button :user_role, 'admin' %>
            <%= form.label :user_type_admin, 'admin' %>
        </div>

        <!-- Botão de submit -->
        <button type="submit" class="button-confirm">Let`s go →</button>
      <% end %>
    </div>
  </body>
</html>
