<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="form-container">
      <% if flash[:alert] %>
        <p style="color: red;"><%= flash[:alert] %></p>
      <% end %>

      <% if notice %>
        <p style="color: green;"><%= notice %></p>
      <% end %>

      <%= form_with url: login_path, method: :post, local: true, html: { class: "form" } do |form| %>
        <!-- Cabeçalho com título -->
        <div class="title">
          Welcome,<br>
        </div>
 
        <!-- Campo de matricula -->
        <%= form.text_field :matricula, placeholder: "matricula", class: "input", required: true %>

        <!-- Campo de senha -->
        <%= form.password_field :password, placeholder: "Password", class: "input", required: true %>

        <!-- Seção para escolher o tipo de usuário -->
        <div class="user-type" style="margin-top: 1rem;">
          <%= form.label :user_role, "Tipo de Usuário" %>
          <div>
            <%= form.radio_button :user_role, 'student', id: 'user_role_student', checked: true %>
            <%= form.label :user_role_student, 'student' %>
            <br>
            <%= form.radio_button :user_role, 'admin', id: 'user_role_admin' %>
            <%= form.label :user_role_admin, 'admin' %>
          </div>
        </div>

        <!-- Botão de submit e subscribe-->
        <button type="submit" class="button-confirm">Let`s go →</button>
        <button type="button" class="button-confirm" onclick="window.location.href='/signup';">Sign Up</button>
      <% end %>
    </div>
  </body>
</html>
