<div id="<%= dom_id turma %>">
  <p>
    <strong>Codigo:</strong>
    <%= turma.codigo %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= turma.semestre %>
  </p>

  <p>
    <strong>Materia:</strong>
    <%= turma.materium_id %>
  </p>

  <p>
    <strong>Horarios:</strong>
    <%= turma.horario %>
  </p>

</div>
