<div id="<%= dom_id questao %>">
  <p>
    <strong>Nome:</strong>
    <%= questao.nome %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= questao.texto %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= questao.tipo %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= questao.template_id %>
  </p>

</div>
