<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <table border="1">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Matrícula</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nome %></td>
          <td><%= user.matricula %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to "Show this user", user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New user", new_user_path %>
